{% extends 'index.html' %}

{% block content %}

    {% for blog in blogs.all %}
        <h2><a href="{% url 'detail' blog.id %}">{{ blog.title }}</a> </h2>
        <p>{{ blog.pub_date }}</p>
        <p>{{ blog.body }}</p>
        {% if blog.image %}
            <img style="width: 300px; height: 300px;"  src="{{ blog.image.url }}">
            <br><br>
        {% endif %}
        
        {% for hashtag in blog.hashtags.all %}
        <span style="color: darkgrey">{{ hashtag.name }}</span>
        {% endfor %}<br><br>    
        
        <a href="{% url 'edit' pk=blog.pk %}">수정</a>
        <a href="{% url 'remove' pk=blog.pk %}">삭제</a> 
        <hr> <br>
    {% endfor %}

{% endblock %}