{% extends 'index.html' %}
<h1>{{Hashtag}}검색 결과 페이지입니다.</h1>
{% block searcher %}
<section class="portfolio text-center" id="portfolio">
      
        <div class="container">
          <h2 class="text-center text-uppercase text-secondary mb-0">Hashtags</h2><br>
          <h4 class="text-center text-secondary mb-0">"{{hashtag}}" 검색결과</h4>
          <hr class="star-dark mb-5">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              
              {% for blog in hashtag.blog_set.all %}
              <h2><a href="{% url 'detail' blog.id %}">{{ blog.title }}</a> </h2>
              <p>{{ blog.pub_date }}</p>
              <p>{{ blog.body }}</p>
              {% if blog.image %}
                  <img style="width: 200px; height: 200px;"  src="{{ blog.image.url }}">
              {% endif %}
              <br><br>
              {% for hashtag in blog.hashtags.all %}
                  <span style="color: darkgrey">{{ hashtag.name }}</span>
              {% endfor %}  



              <hr>
          {% endfor %}
    
            </div>
        </div>
    </div>
</section>
    

{% endblock %}